* {box-sizing: border-box;
    padding: 0%;

}

html {
    min-width: 700px;
}

body {
padding: 3rem;
background: #000000f3;
margin: 0;

}
/* Обертка в релэйшены для адаптивности фона*/
.relation {
    position: relative;
    min-width: 700px;
}

.relationRation {
    padding-top: 56.25%;
    height: 0;
}

.playground {
    background-image: url("../img/items/bg_ho.png");
    background-size: 100%;
    box-shadow: 0 2px 2px 1px rgba(253, 252, 252, 0.2);
    border-radius: 50px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;

    align-items: center;
    flex-direction: column;
}

.Tutorial1 {
    width: 100%;
    padding: 0%;
}

.tutorialBlock {
    position: absolute;
    justify-self: center;
    width: 32%;
    margin-top: -20%;
    
}

.playground p {
    color: #4f0101;
    font-size: 2.7vw;
    margin-top: -28%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

/* .coverPurse {
    background-image: url("../img/items/purse_cover.png");
    background-size: 100%;
} */

.hoGui {
    position: absolute;
    width: 68%;
}

.hoGui img {
    width: 100%;
    margin-bottom: -82%;

}

.hoGui ul li {
    color: #4f0101;
    font-size: 1.5vw;   
    list-style-type: none;
    text-transform: uppercase
}

.listFound {
    text-decoration: line-through;
    animation: shake 0.5s; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.found {
    /* text-decoration: line-through; */
    opacity: 1;
    transition: all ease 1s;
}



.hoGui ul {
    display: inline-block;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    margin-top: 76.5%;
}



/* make media for items list*/

