.tooltip {
    animation: shake 0.5s; 
    border-radius: 10%;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@-webkit-keyframes pulsate { 50% { color: #fff;
    box-shadow: 10px 10px rgba(233, 228, 228, 0.3), 0 0 5px #ffd, 0 0 8px rgba(255, 255, 255, 0.534);
 } 
} 
@keyframes pulsate { 
    100% { color: rgba(255, 255, 255, 0.609); 
        box-shadow: 10px 10px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px rgba(255, 255, 255, 0.472);
        background-color: rgba(183, 14, 146, 0.822);
    }
 } 
 .tooltip { 
    color: rgba(245, 245, 245, 0.459); 
    box-shadow: 10px 100px 100px rgba(0,0,0,.1); 
    -webkit-animation: pulsate 2s linear infinite; 
    animation: pulsate 2s linear infinite; }